Dashboard/n8n_workflow.json
{
  "name": "TFM — Tally → FastAPI → CSV Gold",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tally-predict",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Tally Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "tally-predict-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// 1. Extraer campos del payload Tally.so\n// n8n pone el body en $json.body — Tally envía: body.data.fields\nconst fields = $json.body?.data?.fields ?? [];\nconst submittedAt = $json.body?.data?.createdAt ?? new Date().toISOString();\n\n// Texto plano (INPUT_TEXT, TEXTAREA)\nfunction getText(keyword) {\n  const f = fields.find(f => f.label?.toLowerCase().includes(keyword.toLowerCase()));\n  if (!f) return '';\n  return String(f.value ?? '');\n}\n\n// Dropdown: value es array de IDs → buscar texto en options\nfunction getDropdown(keyword, defaultVal) {\n  const f = fields.find(f => f.label?.toLowerCase().includes(keyword.toLowerCase()));\n  if (!f || !Array.isArray(f.value) || !f.options) return defaultVal;\n  const selectedId = f.value[0];\n  const opt = f.options.find(o => o.id === selectedId);\n  return opt?.text ?? defaultVal;\n}\n\n// Matrix: value es { rowId: [colId] } → devuelve número (texto de columna)\nfunction getMatrix(rowKeyword) {\n  const f = fields.find(f => f.type === 'MATRIX');\n  if (!f) return 3;\n  const row = f.rows?.find(r => r.text?.toLowerCase().includes(rowKeyword.toLowerCase()));\n  if (!row) return 3;\n  const colIds = f.value?.[row.id];\n  if (!colIds?.length) return 3;\n  const col = f.columns?.find(c => c.id === colIds[0]);\n  return parseFloat(col?.text ?? '3') || 3;\n}\n\nreturn [{\n  json: {\n    summary:               getText('summarize'),\n    pros:                  getText('like most'),\n    cons:                  getText('improve'),\n    department:            getDropdown('department',    'Engineering & Tech'),\n    seniority:             getDropdown('seniority',     'Senior'),\n    gender:                getDropdown('gender',        'Prefer not to say'),\n    wl_balance:            getMatrix('work-life'),\n    culture_values:        getMatrix('culture'),\n    diversity_inclusion:   getMatrix('diversity'),\n    career_opportunities:  getMatrix('career'),\n    compensation_benefits: getMatrix('compensation'),\n    senior_management:     getMatrix('senior management'),\n    submission_date:       submittedAt.split('T')[0],\n    _submitted_at:         submittedAt\n  }\n}];"
      },
      "id": "node-parse",
      "name": "Parse Tally Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// 2. Llamar a FastAPI /predict\nconst input = $json;\n\nconst body = {\n  summary:                input.summary,\n  pros:                   input.pros,\n  cons:                   input.cons,\n  department:             input.department,\n  seniority:              input.seniority,\n  gender:                 input.gender,\n  wl_balance:             input.wl_balance,\n  culture_values:         input.culture_values,\n  diversity_inclusion:    input.diversity_inclusion,\n  career_opportunities:   input.career_opportunities,\n  compensation_benefits:  input.compensation_benefits,\n  senior_management:      input.senior_management,\n  submission_date:        input.submission_date\n};\n\nconst resp = await fetch('http://localhost:8000/predict', {\n  method:  'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body:    JSON.stringify(body)\n});\n\nif (!resp.ok) {\n  throw new Error(`FastAPI error ${resp.status}: ${await resp.text()}`);\n}\n\nconst prediction = await resp.json();\n\n// Pasar tanto el input original como la predicción\nreturn [{ json: { ...prediction, _input: input } }];"
      },
      "id": "node-api",
      "name": "Call FastAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// 3. Escribir fila en gold.csv\nconst fs = require('fs');\n\n// Ajusta CSV_PATH a la ruta absoluta de Dashboard/gold.csv en tu máquina\nconst CSV_PATH = process.env.GOLD_CSV_PATH || './gold.csv';\nconst COLS = [\n  'timestamp', 'submission_date', 'summary', 'pros', 'cons',\n  'department', 'seniority', 'gender',\n  'wl_balance', 'culture_values', 'diversity_inclusion',\n  'career_opportunities', 'compensation_benefits', 'senior_management',\n  'predicted_rating', 'satisfaction', 'confidence'\n];\n\nconst pred  = $json;\nconst input = pred._input ?? {};\n\nconst row = {\n  timestamp:              new Date().toISOString(),\n  submission_date:        input.submission_date         ?? '',\n  summary:                input.summary                 ?? '',\n  pros:                   input.pros                    ?? '',\n  cons:                   input.cons                    ?? '',\n  department:             pred.department               ?? input.department ?? '',\n  seniority:              pred.seniority                ?? input.seniority  ?? '',\n  gender:                 pred.gender                   ?? input.gender     ?? '',\n  wl_balance:             input.wl_balance              ?? '',\n  culture_values:         input.culture_values          ?? '',\n  diversity_inclusion:    input.diversity_inclusion     ?? '',\n  career_opportunities:   input.career_opportunities    ?? '',\n  compensation_benefits:  input.compensation_benefits   ?? '',\n  senior_management:      input.senior_management       ?? '',\n  predicted_rating:       pred.predicted_rating         ?? '',\n  satisfaction:           pred.satisfaction             ?? '',\n  confidence:             pred.confidence               ?? ''\n};\n\nfunction escapeCSV(val) {\n  const s = String(val ?? '');\n  return (s.includes(',') || s.includes('\"') || s.includes('\\n'))\n    ? '\"' + s.replace(/\"/g, '\"\"') + '\"'\n    : s;\n}\n\n// Crear fichero con cabecera si no existe\nif (!fs.existsSync(CSV_PATH)) {\n  fs.writeFileSync(CSV_PATH, COLS.join(',') + '\\n', 'utf8');\n}\n\nfs.appendFileSync(CSV_PATH, COLS.map(c => escapeCSV(row[c])).join(',') + '\\n', 'utf8');\n\nreturn [{ json: { status: 'ok', satisfaction: row.satisfaction, predicted_rating: row.predicted_rating } }];"
      },
      "id": "node-csv",
      "name": "Append CSV Gold",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', satisfaction: $('Call FastAPI').first().json.satisfaction, predicted_rating: $('Call FastAPI').first().json.predicted_rating }) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Tally Webhook": {
      "main": [
        [{ "node": "Parse Tally Fields", "type": "main", "index": 0 }]
      ]
    },
    "Parse Tally Fields": {
      "main": [
        [{ "node": "Call FastAPI", "type": "main", "index": 0 }]
      ]
    },
    "Call FastAPI": {
      "main": [
        [{ "node": "Append CSV Gold", "type": "main", "index": 0 }]
      ]
    },
    "Append CSV Gold": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "tfm-workflow-001"
}
